<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CategoryAuthenticationDbContext" connectionString="metadata=res://*/CategoryModel.csdl|res://*/CategoryModel.ssdl|res://*/CategoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-VF5528I\SQLEXPRESS05;initial catalog=CategoryAuthentication;integrated security=True;multipleactiveresultsets=True;encrypt=False;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>